button {

    width:100%;
    padding:15px;
    margin-top:15px;
    border:none;
    border-radius:12px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}


/* Hitam */
.btn-hitam {
    background:#111;
    color:white;
}


/* Merah */
.btn-merah {
    background:#c62828;
    color:white;
}


/* Coklat */
.btn-coklat {
    background:#795548;
    color:white;
}


/* Putih */
.btn-putih {
    background:white;
    color:#222;
    border:1px solid #ddd;
}


/* Hijau */
.btn-hijau {
    background:#2e7d32;
    color:white;
}


/* Kotak keputusan semakan */

.result {

    margin-top:20px;
    padding:18px;
    border-radius:12px;
    background:#ffffff;
    color:#222;
    text-align:left;
    border:1px solid #ddd;
    line-height:1.6;

}
