button {
    width:100%;
    padding:15px;
    margin-top:15px;
    border:none;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
    color:white;
}


/* Butang 1 - Daftar Ahli */
button:nth-of-type(1) {
    background:#FFD700; /* Kuning */
    color:black;
}


/* Butang 2 - Semak Status */
button:nth-of-type(2) {
    background:#000000; /* Hitam */
}


/* Butang 3 - Pengumuman */
button:nth-of-type(3) {
    background:#D00000; /* Merah */
}


/* Butang 4 - Tentang */
button:nth-of-type(4) {
    background:#FFFFFF; /* Putih */
    color:black;
    border:1px solid #ccc;
}


/* Butang 5 - Admin */
button:nth-of-type(5) {
    background:#8B4513; /* Coklat */
}
